<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=yes"
    />
    <title>Millennium Developers</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="wp-content/cache/minify/724af.css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="material-icons-css"
      href="https://fonts.googleapis.com/icon?family=Material+Icons&amp;ver=5.4.4"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="wp-content/cache/minify/beb60.css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="rabbit_css-css"
      href="../export.qodethemes.com/_toolbar/assets/css/rbt-modules7263.css?ver=5.4.4"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="wp-content/cache/minify/edd85.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="wp-content/cache/minify/7cd2d.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="wp-content/cache/minify/60cbd.css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="hendon-google-fonts-css"
      href="https://fonts.googleapis.com/css?family=Cormorant+Garamond%3A300%2C400%2C500%2C600%2C700%7CRaleway%3A300%2C400%2C500%2C600%2C700&amp;subset=latin-ext&amp;ver=1.0.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="wp-content/cache/minify/5af10.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="wp-content/cache/minify/3876d.css"
      media="all"
    />
    <link rel="stylesheet" href="css/style.css" media="all" />
    <script src="wp-content/cache/minify/df983.js"></script>
    <script src="wp-content/cache/minify/d0cd8.js"></script>
    <meta
      name="generator"
      content="Powered by Slider Revolution 6.2.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface."
    />
    <link
      rel="icon"
      href="wp-content/uploads/2020/07/cropped-Favikon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="wp-content/uploads/2020/07/cropped-Favikon-192x192.png"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon"
      href="wp-content/uploads/2020/07/cropped-Favikon-180x180.png"
    />
    <meta
      name="msapplication-TileImage"
      content="https://hendon.qodeinteractive.com/wp-content/uploads/2020/07/cropped-Favikon-270x270.png"
    />
    <script src="js/index.js"></script>
    <style type="text/css">
      body {
        background: url("wp-content/uploads/2020/05/land-bg-img-3.jpg");
        background-size: cover; /* For flexibility */
      }
    </style>
  </head>
  <body>
    <section
      class="elementor-element elementor-element-635e73a elementor-section-full_width qodef-elementor-content-grid elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section admin-login"
      data-id="635e73a"
      data-element_type="section"
    >
      <div
        class="elementor-container elementor-column-gap-no"
        style="padding: 125px; background-color: white"
      >
        <div class="elementor-row">
          <div
            class="elementor-element elementor-element-b13a51c elementor-column elementor-col-100 elementor-top-column"
            data-id="b13a51c"
            data-element_type="column"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-column-wrap elementor-element-populated">
              <div class="elementor-widget-wrap">
                <div
                  class="elementor-element elementor-element-d80b821 elementor-widget elementor-widget-hendon_core_section_title"
                  data-id="d80b821"
                  data-element_type="widget"
                  data-widget_type="hendon_core_section_title.default"
                >
                  <div class="elementor-widget-container">
                    <div
                      class="qodef-shortcode qodef-m qodef-section-title qodef-alignment--center"
                    >
                      <h2 class="qodef-m-title">Admin Login</h2>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-6806480 elementor-widget elementor-widget-wp-widget-hendon_core_contact_form_7"
                  data-id="6806480"
                  data-element_type="widget"
                  data-widget_type="wp-widget-hendon_core_contact_form_7.default"
                >
                  <div class="elementor-widget-container">
                    <div class="qodef-contact-form-7">
                      <div
                        role="form"
                        class="wpcf7"
                        id="wpcf7-f260-p1239-o1"
                        lang="en-US"
                        dir="ltr"
                      >
                        <div class="screen-reader-response"></div>
                        <form
                          action="/adminLogin"
                          method="post"
                          class="wpcf7-form"
                          novalidate="novalidate"
                        >
                          <div
                            class="qodef-main-cf7 qodef-grid qodef-layout--template"
                          >
                            <div class="qodef-grid-inner">
                              <div class="qodef-grid-item qodef-col--12">
                                <span class="wpcf7-form-control-wrap your-email"
                                  ><input
                                    type="email"
                                    name="username"
                                    value=""
                                    size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                    aria-required="true"
                                    aria-invalid="false"
                                    placeholder="E-mail"
                                /></span>
                              </div>
                              <div class="qodef-grid-item qodef-col--12">
                                <span class="wpcf7-form-control-wrap your-name"
                                  ><input
                                    type="password"
                                    name="password"
                                    value=""
                                    size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                    aria-required="true"
                                    aria-invalid="false"
                                    placeholder="Password"
                                /></span>
                              </div>
                            </div>
                            <div class="qodef-grid-item qodef-col--12">
                              <button
                                type="submit"
                                class="wpcf7-form-control wpcf7-submit qodef-button qodef-size--normal qodef-type--filled qodef-m"
                              >
                                <span class="qodef-m-text">Login</span>
                              </button>
                            </div>
                          </div>
                          <div
                            class="wpcf7-response-output wpcf7-display-none"
                          ></div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript">
      var sbiajaxurl = "wp-admin/admin-ajax.html";
    </script>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400%7CCormorant+Garamond:400%7CRaleway:500"
      rel="stylesheet"
      property="stylesheet"
      media="all"
      type="text/css"
    />
    <script src="wp-content/cache/minify/1681a.js"></script>
    <script
      type="text/javascript"
      src="../export.qodethemes.com/_toolbar/assets/js/rbt-modules7263.js?ver=5.4.4"
    ></script>
    <script src="wp-content/cache/minify/6d18f.js"></script>
    <script src="wp-content/cache/minify/dc06c.js"></script>
    <script src="wp-content/cache/minify/63a69.js"></script>
    <script src="wp-content/cache/minify/971bb.js"></script>
    <script src="wp-content/cache/minify/7ded7.js"></script>
    <script src="wp-content/cache/minify/864c2.js"></script>
    <script src="wp-content/cache/minify/3855f.js"></script>
    <script src="wp-content/cache/minify/9f110.js"></script>
    <script src="wp-content/cache/minify/d0923.js"></script>
  </body>
</html>
