<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=yes"
    />
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <title>Careers &#8211; Millennium</title>

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link rel="dns-prefetch" href="http://export.qodethemes.com/" />
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/" />
    <link rel="dns-prefetch" href="http://s.w.org/" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Hendon &raquo; Feed"
      href="../feed/index.html"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Hendon &raquo; Comments Feed"
      href="../comments/feed/index.html"
    />

    <style type="text/css">
      img.wp-smiley,
      img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 0.07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
      }
    </style>
    <link
      rel="stylesheet"
      href="../wp-content/cache/minify/724af.css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="material-icons-css"
      href="https://fonts.googleapis.com/icon?family=Material+Icons&amp;ver=5.4.4"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="../wp-content/cache/minify/beb60.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="../wp-content/cache/minify/edd85.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="../wp-content/cache/minify/7cd2d.css"
      media="all"
    />
    <style id="woocommerce-inline-inline-css" type="text/css">
      .woocommerce form .form-row .required {
        visibility: visible;
      }
    </style>
    <link
      rel="stylesheet"
      href="../wp-content/cache/minify/60cbd.css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="hendon-google-fonts-css"
      href="https://fonts.googleapis.com/css?family=Cormorant+Garamond%3A300%2C400%2C500%2C600%2C700%7CRaleway%3A300%2C400%2C500%2C600%2C700&amp;subset=latin-ext&amp;ver=1.0.0"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="../wp-content/cache/minify/5af10.css"
      media="all"
    />
    <style id="hendon-style-inline-css" type="text/css">
      #qodef-page-outer {
        margin-top: -130px;
      }
      #qodef-page-footer-bottom-area {
        background-color: #19130b;
      }
      #qodef-page-inner {
        padding: 0 0;
      }
      #qodef-top-area {
        background-color: #000000;
        height: 34px;
      }
      #qodef-page-spinner .qodef-m-inner {
        background-color: #1c0a09;
        color: rgba(194, 133, 98, 0.3);
      }
      .qodef-page-title {
        height: 600px;
        background-image: url(../wp-content/uploads/2020/04/careers.jpg);
      }
      .qodef-page-title .qodef-m-title {
        color: #ffffff;
      }
      @media only screen and (max-width: 1024px) {
        .qodef-page-title {
          height: 400px;
        }
      }
      .qodef-header--divided #qodef-page-header {
        height: 130px;
        background-color: rgb(0 0 0 / 35%);
      }
      @media only screen and (max-width: 768px) {
        h1 {
          font-size: 80px;
        }
      }
      @media only screen and (max-width: 680px) {
        h1 {
          font-size: 41px;
        }
        h2 {
          font-size: 40px;
        }
        h3 {
          font-size: 33px;
        }
        h4 {
          font-size: 25px;
        }
      }
    </style>
    <link
      rel="stylesheet"
      href="../wp-content/cache/minify/d3a85.css"
      media="all"
    />
    <script src="../wp-content/cache/minify/df983.js"></script>
    <script src="../wp-content/cache/minify/d0cd8.js"></script>
    <link rel="https://api.w.org/" href="../wp-json/index.html" />
    <link
      rel="EditURI"
      type="application/rsd+xml"
      title="RSD"
      href="../xmlrpc0db0.php?rsd"
    />
    <link
      rel="wlwmanifest"
      type="application/wlwmanifest+xml"
      href="../wp-includes/wlwmanifest.xml"
    />
    <meta name="generator" content="WordPress 5.4.4" />
    <meta name="generator" content="WooCommerce 4.0.1" />
    <link rel="canonical" href="/" />
    <link rel="shortlink" href="../index019f.html?p=2112" />
    <link
      rel="alternate"
      type="application/json+oembed"
      href="../wp-json/oembed/1.0/embed9179.json?url=https%3A%2F%2Fhendon.qodeinteractive.com%2Ffeature-bellow%2F"
    />
    <link
      rel="alternate"
      type="text/xml+oembed"
      href="../wp-json/oembed/1.0/embed569d?url=https%3A%2F%2Fhendon.qodeinteractive.com%2Ffeature-bellow%2F&amp;format=xml"
    />
    <meta
      name="generator"
      content="Powered by Slider Revolution 6.2.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface."
    />
    <link
      rel="icon"
      href="../wp-content/uploads/2020/07/cropped-Favikon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="../wp-content/uploads/2020/07/cropped-Favikon-192x192.png"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon"
      href="../wp-content/uploads/2020/07/cropped-Favikon-180x180.png"
    />
    <meta
      name="msapplication-TileImage"
      content="https://hendon.qodeinteractive.com/wp-content/uploads/2020/07/cropped-Favikon-270x270.png"
    />
    <style type="text/css" id="wp-custom-css">
      @media (min-width: 1025px) {
        .page-id-882 #qodef-page-header {
          position: fixed !important;
          top: 0 !important;
          left: 0 !important;
          width: 100% !important;
        }

        .page-id-882 #qodef-page-outer {
          padding-top: 90px !important;
        }

        .page-id-882.admin-bar #qodef-page-header {
          top: 32px !important;
        }
      }

      .page-id-651
        .qodef-header-navigation
        > ul
        > li.current-menu-ancestor
        > a
        .qodef-menu-item-text:after {
        opacity: 0.6;
      }

      .page-id-651
        .qodef-header-navigation
        > ul
        > li
        > a
        .qodef-menu-item-text:after {
        opacity: 0.6;
      }
    </style>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css"
    />
  </head>
  <body
    class="page-template page-template-page-full-width page-template-page-full-width-php page page-id-2112 theme-hendon qode-framework-1.1.3 woocommerce-no-js qodef-age-verification--opened qodef-back-to-top--enabled qodef-content-grid-1300 qodef-header--light qodef-header--divided qodef-header-appearance--none qodef-mobile-header--standard qodef-drop-down-second--full-width qodef-drop-down-second--animate-height hendon-core-1.0.1 hendon-1.1 qodef-search--covers-header elementor-default elementor-kit-10 elementor-page elementor-page-2112"
    itemscope
    itemtype="https://schema.org/WebPage"
  >
    <div id="qodef-page-wrapper" class="">
      <header id="qodef-page-header">
        <div id="qodef-page-header-inner">
          <div class="qodef-divided-header-left-wrapper">
            <div class="qodef-widget-holder">
              <div
                id="custom_html-2"
                class="widget_text widget widget_custom_html qodef-header-widget-area-two"
                data-area="header-widget-two"
              >
                <div class="textwidget custom-html-widget">
                  <a
                    itemprop="url"
                    class="qodef-header-logo-link qodef-height--set"
                    href="/"
                    style="height: 68px"
                    rel="home"
                  >
                    <img
                      width="140"
                      height="137"
                      src="wp-content/uploads/2020/04/logo-regular.png"
                      class="qodef-header-logo-image qodef--main"
                      alt="logo main"
                      itemprop="image" />
                    <img
                      width="140"
                      height="136"
                      src="wp-content/uploads/2020/04/logo-dark.png"
                      class="qodef-header-logo-image qodef--dark"
                      alt="logo dark"
                      itemprop="image" />
                    <img
                      width="210"
                      height="204"
                      src="wp-content/uploads/2020/06/logo-light.png"
                      class="qodef-header-logo-image qodef--light"
                      alt="logo light"
                      itemprop="image"
                  /></a>
                </div>
              </div>
            </div>
            <nav
              class="qodef-header-navigation"
              role="navigation"
              aria-label="Divided Left Menu"
            >
              <ul id="menu-divided-menu-left" class="menu">
                <li
                  id="menu-item-25"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1984 qodef-menu-item--narrow"
                >
                  <a href="/"
                    ><span class="qodef-menu-item-text">Home</span
                    ><span class="qodef-menu-arrow">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        width="10px"
                        height="10px"
                        viewBox="0 0 10 10"
                        enable-background="new 0 0 10 10"
                        xml:space="preserve"
                      >
                        <g>
                          <polygon
                            points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                          />
                        </g>
                      </svg> </span
                  ></a>
                </li>
                <li
                  id="menu-item-26"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-26 qodef-menu-item--narrow"
                >
                  <a href="/about-us"
                    ><span class="qodef-menu-item-text">About-Us</span
                    ><span class="qodef-menu-arrow">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        width="10px"
                        height="10px"
                        viewBox="0 0 10 10"
                        enable-background="new 0 0 10 10"
                        xml:space="preserve"
                      >
                        <g>
                          <polygon
                            points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                          />
                        </g>
                      </svg> </span
                  ></a>
                </li>
                <li
                  id="menu-item-1989"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1989 qodef-menu-item--narrow"
                >
                  <a href="/projects"
                    ><span class="qodef-menu-item-text">Ongoing Projects</span
                    ><span class="qodef-menu-arrow">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        width="10px"
                        height="10px"
                        viewBox="0 0 10 10"
                        enable-background="new 0 0 10 10"
                        xml:space="preserve"
                      >
                        <g>
                          <polygon
                            points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                          />
                        </g>
                      </svg> </span
                  ></a>
                </li>
              </ul>
            </nav>
          </div>

          <div class="qodef-divided-header-right-wrapper">
            <nav
              class="qodef-header-navigation"
              role="navigation"
              aria-label="Divided Right Menu"
            >
              <ul id="menu-divided-menu-right" class="menu">
                <li
                  id="menu-item-29"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-29 qodef-menu-item--narrow"
                >
                  <a href="/previous-projects"
                    ><span class="qodef-menu-item-text">previous projects</span
                    ><span class="qodef-menu-arrow">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        width="10px"
                        height="10px"
                        viewBox="0 0 10 10"
                        enable-background="new 0 0 10 10"
                        xml:space="preserve"
                      >
                        <g>
                          <polygon
                            points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                          />
                        </g>
                      </svg> </span
                  ></a>
                </li>
                <li
                  id="menu-item-1984"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1984 qodef-menu-item--narrow"
                >
                  <a href="/gallery"
                    ><span class="qodef-menu-item-text">Gallery</span
                    ><span class="qodef-menu-arrow">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        width="10px"
                        height="10px"
                        viewBox="0 0 10 10"
                        enable-background="new 0 0 10 10"
                        xml:space="preserve"
                      >
                        <g>
                          <polygon
                            points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                          />
                        </g>
                      </svg> </span
                  ></a>
                </li>
                <li
                  id="menu-item-1984"
                  class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-25 qodef-menu-item--narrow"
                >
                  <a href="/careers"
                    ><span class="qodef-menu-item-text">Careers</span
                    ><span class="qodef-menu-arrow">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        width="10px"
                        height="10px"
                        viewBox="0 0 10 10"
                        enable-background="new 0 0 10 10"
                        xml:space="preserve"
                      >
                        <g>
                          <polygon
                            points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                          />
                        </g>
                      </svg> </span
                  ></a>
                </li>
                <li
                  id="menu-item-1984"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1984 qodef-menu-item--narrow"
                >
                  <a href="/contact-us"
                    ><span class="qodef-menu-item-text">contact-us</span
                    ><span class="qodef-menu-arrow">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        width="10px"
                        height="10px"
                        viewBox="0 0 10 10"
                        enable-background="new 0 0 10 10"
                        xml:space="preserve"
                      >
                        <g>
                          <polygon
                            points="3.39,9.042 2.769,8.259 6.848,5.025 2.768,1.74 3.395,0.961 8.449,5.031"
                          />
                        </g>
                      </svg> </span
                  ></a>
                </li>
              </ul>
            </nav>
            <div class="qodef-widget-holder">
              <div
                id="hendon_core_side_area_opener-3"
                class="widget widget_hendon_core_side_area_opener qodef-header-widget-area-one"
                data-area="header-widget-one"
              >
                <a
                  href="javascript:void(0)"
                  class="qodef-opener-icon qodef-m qodef-source--svg-path qodef-side-area-opener"
                  style="margin: 0 0 0 10px"
                >
                  <span class="qodef-m-icon qodef--open">
                    <svg
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px"
                      y="0px"
                      width="64.584px"
                      height="21.75px"
                      viewBox="0 0 64.584 21.75"
                      enable-background="new 0 0 64.584 21.75"
                      xml:space="preserve"
                    >
                      <rect
                        x="7.292"
                        y="6.875"
                        fill="#FFFFFF"
                        width="50"
                        height="1"
                      />
                      <rect
                        x="7.292"
                        y="13.875"
                        fill="#FFFFFF"
                        width="50"
                        height="1"
                      />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <header id="qodef-page-mobile-header">
        <div id="qodef-page-mobile-header-inner">
          <a
            itemprop="url"
            class="qodef-mobile-header-logo-link"
            href="/"
            style="height: 55px"
            rel="home"
          >
            <img
              width="140"
              height="136"
              src="wp-content/uploads/2020/04/logo-dark.png"
              class="qodef-header-logo-image qodef--main"
              alt="logo main"
              itemprop="image" />
            <img
              width="210"
              height="204"
              src="wp-content/uploads/2020/06/logo-light.png"
              class="qodef-header-logo-image qodef--dark"
              alt="logo dark"
              itemprop="image" /><img
              width="210"
              height="204"
              src="wp-content/uploads/2020/06/logo-light.png"
              class="qodef-header-logo-image qodef--light"
              alt="logo light"
              itemprop="image" /></a
          ><a class="qodef-mobile-header-opener" href="#">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="64.584px"
              height="21.75px"
              viewBox="0 0 64.584 21.75"
              enable-background="new 0 0 64.584 21.75"
              xml:space="preserve"
            >
              <rect x="7.292" y="6.875" fill="#000" width="50" height="1" />
              <rect x="7.292" y="13.875" fill="#000" width="50" height="1" />
            </svg>
          </a>
          <nav
            class="qodef-mobile-header-navigation"
            role="navigation"
            aria-label="Mobile Menu"
          >
            <ul id="menu-main-menu-2" class="qodef-content-grid">
              <li>
                <a href="/"><span>Home</span></a>
              </li>
              <li>
                <a href="/about-us"><span>about-us</span></a>
              </li>
              <li>
                <a href="/projects"><span>Ongoing Projects</span></a>
              </li>
              <li>
                <a href="/previous-projects"><span>previous projects</span></a>
              </li>
              <li>
                <a href="/gallery"><span>gallery</span></a>
              </li>
              <li>
                <a href="/careers"><span>Careers</span></a>
              </li>
              <li>
                <a href="/contact-us"><span>contact-us</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <div id="qodef-page-outer">
        <div
          class="qodef-page-title qodef-m qodef-title--standard qodef-alignment--center qodef-vertical-alignment--window-top qodef--has-image"
        >
          <div class="qodef-m-inner">
            <div class="qodef-m-content qodef-content-grid">
              <h1 class="qodef-m-title entry-title">Careers</h1>
            </div>
          </div>
        </div>
        <div id="qodef-page-inner" class="qodef-content-full-width">
          <main
            id="qodef-page-content"
            class="qodef-grid qodef-layout--template"
          >
            <div class="qodef-grid-inner clear">
              <div
                class="qodef-grid-item qodef-page-content-section qodef-col--12"
              >
                <div
                  data-elementor-type="wp-page"
                  data-elementor-id="2112"
                  class="elementor elementor-2112"
                  data-elementor-settings="[]"
                >
                  <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                      <section
                        class="elementor-element elementor-element-d6ccee1 elementor-section-full_width qodef-elementor-content-grid elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                        data-id="d6ccee1"
                        data-element_type="section"
                      >
                        <div
                          class="elementor-container elementor-column-gap-no"
                          style="width: 50%"
                        >
                          <div class="elementor-row">
                            <div
                              class="elementor-element elementor-element-3c08657 elementor-column elementor-col-100 elementor-top-column"
                              data-id="3c08657"
                              data-element_type="column"
                            >
                              <div
                                class="elementor-column-wrap elementor-element-populated"
                              >
                                <div class="elementor-widget-wrap">
                                  <div
                                    class="elementor-element elementor-element-44df938 elementor-widget elementor-widget-hendon_core_apartment_list"
                                    data-id="44df938"
                                    data-element_type="widget"
                                    data-widget_type="hendon_core_apartment_list.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <div
                                        class="qodef-shortcode qodef-m qodef-apartment-list qodef-item-layout--info-below-with-feature-titles qodef-grid qodef-layout--columns qodef-gutter--normal qodef-col-num--3 qodef-item-layout--info-below-with-feature-titles qodef--no-bottom-space qodef-pagination--off qodef-responsive--custom qodef-col-num--1440--3 qodef-col-num--1366--3 qodef-col-num--1024--2 qodef-col-num--768--2 qodef-col-num--680--1 qodef-col-num--480--1"
                                        data-options='{"plugin":"hendon_core","module":"plugins\/property\/post-types\/apartment\/shortcodes","shortcode":"apartment-list","post_type":"apartment-item","next_page":"2","layout":"info-below-with-feature-titles","title_tag":"h5","behavior":"columns","images_proportion":"full","columns":"3","columns_responsive":"custom","columns_1440":"3","columns_1366":"3","columns_1024":"2","columns_768":"2","columns_680":"1","columns_480":"1","space":"normal","posts_per_page":"-1","orderby":"date","order":"ASC","additional_params":"tax","tax":"apartment-category","tax_slug":"condo","pagination_type":"no-pagination","object_class_name":"HendonCoreApartmentListShortcode","additional_query_args":{"tax_query":[{"taxonomy":"apartment-category","field":"slug","terms":"condo"}]},"query_array":{"post_status":"publish","post_type":"apartment-item","posts_per_page":"-1","orderby":"date","order":"ASC","ignore_sticky_posts":1,"paged":1,"tax_query":[{"taxonomy":"apartment-category","field":"slug","terms":"condo"}]},"item_classes":"qodef-e qodef-grid-item","posts_count":6,"space_value":15}'
                                      >
                                        <div class="qodef-grid-inner clear">
                                          <section
                                            class="elementor-element elementor-element-635e73a elementor-section-full_width qodef-elementor-content-grid elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                            data-id="635e73a"
                                            data-element_type="section"
                                          >
                                            <div
                                              class="elementor-container elementor-column-gap-no"
                                              style="width: 90%"
                                            >
                                              <div class="elementor-row">
                                                <div
                                                  class="elementor-element elementor-element-b13a51c elementor-column elementor-col-100 elementor-top-column"
                                                  data-id="b13a51c"
                                                  data-element_type="column"
                                                  data-settings='{"background_background":"classic"}'
                                                >
                                                  <div
                                                    class="elementor-column-wrap elementor-element-populated"
                                                  >
                                                    <div
                                                      class="elementor-widget-wrap"
                                                    >
                                                      <div
                                                        class="elementor-element elementor-element-d80b821 elementor-widget elementor-widget-hendon_core_section_title"
                                                        data-id="d80b821"
                                                        data-element_type="widget"
                                                        data-widget_type="hendon_core_section_title.default"
                                                      >
                                                        <div
                                                          class="elementor-widget-container"
                                                        >
                                                          <div
                                                            class="qodef-shortcode qodef-m qodef-section-title qodef-alignment--center"
                                                          >
                                                            <h3
                                                              class="qodef-m-title"
                                                            >
                                                              SHARE YOUR DETAILS
                                                              WITH US TO START
                                                              THE PROCESS.
                                                            </h3>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div
                                                        class="elementor-element elementor-element-6806480 elementor-widget elementor-widget-wp-widget-hendon_core_contact_form_7"
                                                        data-id="6806480"
                                                        data-element_type="widget"
                                                        data-widget_type="wp-widget-hendon_core_contact_form_7.default"
                                                      >
                                                        <div
                                                          class="elementor-widget-container"
                                                        >
                                                          <div
                                                            class="qodef-contact-form-7"
                                                          >
                                                            <div
                                                              role="form"
                                                              class="wpcf7"
                                                              id="wpcf7-f260-p1239-o1"
                                                              lang="en-US"
                                                              dir="ltr"
                                                            >
                                                              <div
                                                                class="screen-reader-response"
                                                              ></div>
                                                              <form
                                                                action="/careerFrom"
                                                                method="post"
                                                                class="wpcf7-form"
                                                                enctype="multipart/form-data"
                                                              >
                                                                <div
                                                                  class="qodef-main-cf7 qodef-grid qodef-layout--template"
                                                                >
                                                                  <div
                                                                    class="qodef-grid-inner"
                                                                  >
                                                                    <div
                                                                      class="qodef-grid-item qodef-col--12"
                                                                    >
                                                                      <span
                                                                        class="wpcf7-form-control-wrap your-name"
                                                                        ><input
                                                                          type="text"
                                                                          name="yourName"
                                                                          size="40"
                                                                          class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                          placeholder="Full name"
                                                                          required
                                                                      /></span>
                                                                    </div>
                                                                    <div
                                                                      class="qodef-grid-item qodef-col--12"
                                                                    >
                                                                      <span
                                                                        class="wpcf7-form-control-wrap your-name"
                                                                        ><input
                                                                          type="tel"
                                                                          id="phone"
                                                                          placeholder="Mobile Number"
                                                                          name="yourMobile"
                                                                          size="40"
                                                                          class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                          pattern="(7|8|9)\d{9}"
                                                                          required="required"
                                                                          title="Enter a valid 10-digit no"
                                                                      /></span>
                                                                    </div>
                                                                    <div
                                                                      class="qodef-grid-item qodef-col--12"
                                                                    >
                                                                      <span
                                                                        class="wpcf7-form-control-wrap your-email"
                                                                        ><input
                                                                          type="email"
                                                                          name="yourEmail"
                                                                          size="40"
                                                                          class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                          placeholder="E-mail"
                                                                          required
                                                                      /></span>
                                                                    </div>

                                                                    <div
                                                                      class="qodef-grid-item qodef-col--6"
                                                                    >
                                                                      <span
                                                                        class="wpcf7-form-control-wrap your-time"
                                                                        ><select
                                                                          name="department"
                                                                          class="wpcf7-form-control wpcf7-select"
                                                                          aria-invalid="false"
                                                                          required
                                                                        >
                                                                          <option>
                                                                            Select
                                                                            Department
                                                                          </option>
                                                                          <%department.forEach(department=>{%>
                                                                          <option
                                                                            value="<%= department.department %>"
                                                                          >
                                                                            <%=department.department%>
                                                                          </option>
                                                                          <%});%>
                                                                        </select></span
                                                                      >
                                                                    </div>
                                                                    <div
                                                                      class="qodef-grid-item qodef-col--6"
                                                                    >
                                                                      <span
                                                                        class="wpcf7-form-control-wrap your-time"
                                                                        ><select
                                                                          name="experience"
                                                                          class="wpcf7-form-control wpcf7-select"
                                                                          aria-invalid="false"
                                                                          required
                                                                        >
                                                                          <option>
                                                                            Experience
                                                                            In
                                                                            Years
                                                                          </option>
                                                                          <option>
                                                                            Less
                                                                            than
                                                                            1
                                                                            year
                                                                          </option>
                                                                          <option>
                                                                            1+
                                                                            years
                                                                          </option>
                                                                          <option>
                                                                            2+
                                                                            years
                                                                          </option>
                                                                          <option>
                                                                            3+
                                                                            years
                                                                          </option>
                                                                          <option>
                                                                            4+
                                                                            years
                                                                          </option>
                                                                          <option>
                                                                            5+
                                                                            years
                                                                          </option>
                                                                          <option>
                                                                            6+
                                                                            years
                                                                          </option>
                                                                          <option>
                                                                            7+
                                                                            years
                                                                          </option>
                                                                          <option>
                                                                            8+
                                                                            years
                                                                          </option>
                                                                          <option>
                                                                            9+
                                                                            years
                                                                          </option>
                                                                          <option>
                                                                            10+
                                                                            years
                                                                          </option>
                                                                        </select></span
                                                                      >
                                                                    </div>
                                                                    <div
                                                                      class="qodef-grid-item qodef-col--12"
                                                                    >
                                                                      <label
                                                                        style="
                                                                          position: relative;
                                                                          display: inline-block;
                                                                          width: 100%;
                                                                          text-align: left;
                                                                          vertical-align: top;
                                                                          padding: 7px
                                                                            20px
                                                                            7px
                                                                            0;
                                                                          font-family: Raleway;
                                                                          font-size: 13px;
                                                                          line-height: 24px;
                                                                          font-weight: 500;
                                                                          text-transform: none;
                                                                          letter-spacing: 0.2em;
                                                                          color: #000;
                                                                          background-color: transparent;
                                                                          outline: 0;
                                                                          cursor: default;
                                                                          -webkit-appearance: none;
                                                                          -webkit-transition: color
                                                                              0.2s
                                                                              ease-out,
                                                                            background-color
                                                                              0.2s
                                                                              ease-out,
                                                                            border-color
                                                                              0.2s
                                                                              ease-out;
                                                                          -o-transition: color
                                                                              0.2s
                                                                              ease-out,
                                                                            background-color
                                                                              0.2s
                                                                              ease-out,
                                                                            border-color
                                                                              0.2s
                                                                              ease-out;
                                                                          transition: color
                                                                              0.2s
                                                                              ease-out,
                                                                            background-color
                                                                              0.2s
                                                                              ease-out,
                                                                            border-color
                                                                              0.2s
                                                                              ease-out;
                                                                        "
                                                                        >Upload
                                                                        Your
                                                                        Resume</label
                                                                      >
                                                                      <span
                                                                        class="wpcf7-form-control-wrap your-email"
                                                                        ><input
                                                                          type="file"
                                                                          name="resume"
                                                                          size="40"
                                                                          class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                          placeholder="Upload your resume"
                                                                          required
                                                                      /></span>
                                                                    </div>
                                                                    <div
                                                                      class="qodef-grid-item qodef-col--12"
                                                                    >
                                                                      <button
                                                                        type="submit"
                                                                        class="wpcf7-form-control wpcf7-submit qodef-button qodef-size--normal qodef-type--filled qodef-m"
                                                                      >
                                                                        <span
                                                                          class="qodef-m-text"
                                                                          >Submit</span
                                                                        >
                                                                      </button>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </form>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </section>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <footer id="qodef-page-footer">
        <div id="qodef-page-footer-top-area">
          <div id="qodef-page-footer-top-area-inner" class="qodef-content-grid">
            <div
              class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--4 qodef-col-num--1024--2 qodef-col-num--768--2 qodef-col-num--680--1 qodef-col-num--480--1"
            >
              <div
                class="qodef-grid-inner clear qodef-grid-contact-links"
                style="padding-left: 25%"
              >
                <div
                  class="qodef-grid-item qodef-grid-contact-address"
                  style="width: 35%"
                >
                  <div
                    id="text-2"
                    class="widget widget_text"
                    data-area="footer_top_area_column_1"
                  >
                    <h5 class="qodef-widget-title">Contact</h5>
                    <div class="textwidget">
                      <p>
                        <span
                          style="
                            display: block;
                            color: #fff;
                            padding-bottom: 9px;
                          "
                          >Find out all the ways to enjoy luxury residential
                          life around the world.</span
                        >
                      </p>
                      <p>
                        <span style="color: #d7926b">Address</span>:
                        <a
                          style="display: inline-block; padding-bottom: 10px"
                          href="https://www.google.com/maps/place/Millennium+Developers/@18.5960166,73.7786026,15.96z/data=!4m12!1m6!3m5!1s0x3bc2b9177b5b4d29:0xdda7aaece1d976e!2sMillennium+Developers!8m2!3d18.5960199!4d73.7826736!3m4!1s0x0:0xdb0b86957ead1318!8m2!3d18.5994994!4d73.780835"
                          target="_blank"
                          rel="noopener noreferrer"
                          >Millennium Developers, Metro 9 Building, First floor,
                          Rahatani, Aundh-Ravet road, Opposite to park street,
                          Pune</a
                        ><br />
                        <span style="color: #d7926b">Tel</span>:
                        <a href="tel:7276014404">72 76 01 44 04</a>
                      </p>
                    </div>
                  </div>
                  <div
                    id="hendon_core_separator-8"
                    class="widget widget_hendon_core_separator"
                    data-area="footer_top_area_column_1"
                  >
                    <div class="qodef-shortcode qodef-m qodef-separator clear">
                      <div
                        class="qodef-m-line"
                        style="
                          width: 1px;
                          border-bottom-width: 1px;
                          margin-top: 10px;
                        "
                      ></div>
                    </div>
                  </div>
                </div>
                <div
                  class="qodef-grid-item qodef-grid-useful-links"
                  style="margin-left: 10%"
                >
                  <div
                    id="text-4"
                    class="widget widget_text"
                    data-area="footer_top_area_column_3"
                  >
                    <h5 class="qodef-widget-title">Useful links</h5>
                    <div class="textwidget">
                      <p><a href="/projects">Projects</a></p>
                      <p><a href="/gallery">Gallery</a></p>
                      <p><a href="/careers">Careers</a></p>
                      <p><a href="/contact-us">Contact Us</a></p>
                    </div>
                  </div>
                  <div
                    id="hendon_core_separator-10"
                    class="widget widget_hendon_core_separator"
                    data-area="footer_top_area_column_3"
                  >
                    <div class="qodef-shortcode qodef-m qodef-separator clear">
                      <div
                        class="qodef-m-line"
                        style="
                          width: 1px;
                          border-bottom-width: 1px;
                          margin-top: 10px;
                        "
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="qodef-page-footer-bottom-area">
          <div
            id="qodef-page-footer-bottom-area-inner"
            class="qodef-content-full-width"
          >
            <div
              class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--1"
            >
              <div class="qodef-grid-inner clear">
                <div class="qodef-grid-item">
                  <div
                    id="hendon_core_social_icons_group-2"
                    class="widget widget_hendon_core_social_icons_group"
                    data-area="footer_bottom_area_column_1"
                  >
                    <div class="qodef-social-icons-group">
                      <span
                        class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--normal"
                      >
                        <a
                          itemprop="url"
                          href="https://www.facebook.com/millenniumdevelopers"
                          target="_blank"
                        >
                          <svg class="qodef-svg-circle">
                            <circle cx="50%" cy="50%" r="49%"></circle>
                          </svg>
                          <span
                            class="qodef-icon-font-awesome fab fa-facebook-square qodef-icon qodef-e"
                            style=""
                          ></span>
                        </a> </span
                      ><span
                        class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--normal"
                      >
                        <a
                          itemprop="url"
                          href="https://www.instagram.com/millennium_developers/"
                          target="_blank"
                        >
                          <svg class="qodef-svg-circle">
                            <circle cx="50%" cy="50%" r="49%"></circle>
                          </svg>
                          <span
                            class="qodef-icon-font-awesome fab fa-instagram qodef-icon qodef-e"
                            style=""
                          ></span>
                        </a> </span
                      ><span
                        class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--normal"
                      >
                        <a
                          itemprop="url"
                          href="https://www.youtube.com/channel/UCEtx-yZsdAogsdNvX6tZUEw"
                          target="_blank"
                        >
                          <svg class="qodef-svg-circle">
                            <circle cx="50%" cy="50%" r="49%"></circle>
                          </svg>
                          <span
                            class="qodef-icon-font-awesome fab fa-youtube qodef-icon qodef-e"
                            style=""
                          ></span>
                        </a> </span
                      ><span
                        class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--normal"
                      >
                        <a
                          itemprop="url"
                          href="https://www.linkedin.com/company/millennium-developers/"
                          target="_blank"
                        >
                          <svg class="qodef-svg-circle">
                            <circle cx="50%" cy="50%" r="49%"></circle>
                          </svg>
                          <span
                            class="qodef-icon-font-awesome fab fa-linkedin qodef-icon qodef-e"
                            style=""
                          ></span>
                        </a>
                      </span>
                    </div>
                  </div>
                  <div
                    id="hendon_core_separator-2"
                    class="widget widget_hendon_core_separator"
                    data-area="footer_bottom_area_column_1"
                  >
                    <div class="qodef-shortcode qodef-m qodef-separator clear">
                      <div
                        class="qodef-m-line"
                        style="
                          border-color: #363636;
                          border-style: solid;
                          width: 100%;
                          border-bottom-width: 1px;
                        "
                      ></div>
                    </div>
                  </div>
                  <div
                    id="text-6"
                    class="widget widget_text"
                    data-area="footer_bottom_area_column_1"
                  >
                    <div class="textwidget">
                      <h6 style="font-size: 11px; color: #6f6d6b">
                        Made with
                        <i class="far fa-heart" style="color: #c28562"></i> by
                        <a
                          href="https://logyana.com/"
                          target="_blank"
                          rel="nofollow noopener noreferrer"
                          > Logyana Solutions</a
                        >
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <a id="qodef-back-to-top" href="#">
        <span class="qodef-back-to-top-icon">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="44px"
            height="44px"
            viewBox="0 0 44 44"
            enable-background="new 0 0 44 44"
            xml:space="preserve"
          >
            <rect
              x="1.484"
              y="1.531"
              fill="none"
              stroke="#5B5B5B"
              stroke-miterlimit="10"
              width="41"
              height="41"
            />
            <rect
              x="1.484"
              y="1.531"
              fill="none"
              stroke="#838383"
              stroke-miterlimit="10"
              width="41"
              height="41"
            />
            <polyline
              fill="none"
              stroke="#5B5B5B"
              stroke-miterlimit="10"
              points="16.572,25.293 21.984,18.77 27.397,25.293 "
            />
            <polyline
              fill="none"
              stroke="#838383"
              stroke-miterlimit="10"
              points="16.572,25.293 21.984,18.77 27.397,25.293 "
            />
          </svg>
        </span>
      </a>
      <div id="qodef-side-area">
        <a
          href="javascript:void(0)"
          id="qodef-side-area-close"
          class="qodef-opener-icon qodef-m qodef-source--svg-path"
        >
          <span class="qodef-m-icon qodef--open">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="27px"
              height="27px"
              viewBox="0 0 27 27"
              enable-background="new 0 0 27 27"
              xml:space="preserve"
            >
              <line
                fill="none"
                stroke="#000000"
                stroke-miterlimit="10"
                x1="4.719"
                y1="5.005"
                x2="22.785"
                y2="21.989"
              />
              <line
                fill="none"
                stroke="#000000"
                stroke-miterlimit="10"
                x1="4.719"
                y1="5.005"
                x2="22.785"
                y2="21.989"
              />
              <line
                fill="none"
                stroke="#000000"
                stroke-miterlimit="10"
                x1="22.785"
                y1="5.005"
                x2="4.719"
                y2="21.989"
              />
              <line
                fill="none"
                stroke="#000000"
                stroke-miterlimit="10"
                x1="22.785"
                y1="5.005"
                x2="4.719"
                y2="21.989"
              />
            </svg>
          </span>
        </a>
        <div id="qodef-side-area-inner">
          <div
            id="media_image-2"
            class="widget widget_media_image"
            data-area="side-area"
          >
            <a href="/"
              ><img
                width="52"
                height="51"
                src="../wp-content/uploads/2020/06/logo-light.png"
                class="image wp-image-1273 attachment-52x51 size-52x51"
                alt="side-logo-1"
                style="max-width: 100%; height: auto"
                sizes="(max-width: 52px) 100vw, 52px"
            /></a>
          </div>
          <div id="text-8" class="widget widget_text" data-area="side-area">
            <div class="textwidget">
              <h4 style="color: #fff">Millennium</h4>
              <h6 style="color: #c28562">
                At vero eos et accusam et iusto odio
              </h6>
            </div>
          </div>
          <div
            id="hendon_core_instagram_list-4"
            class="widget widget_hendon_core_instagram_list"
            data-area="side-area"
          >
            <h5 class="qodef-widget-title">Instagram</h5>
            <div
              class="qodef-shortcode qodef-m qodef-instagram-list qodef-gutter--no qodef-col-num--3"
            >
              <div
                id="sb_instagram"
                class="sbi sbi_col_3 sbi_width_resp"
                style="width: 100%"
                data-feedid="sbi_17841433801500030#6"
                data-res="auto"
                data-cols="3"
                data-num="6"
                data-shortcode-atts='{"0":"6","1":"3","2":"0","3":"px","4":"auto","num":"6","cols":"3","imagepadding":"0","imagepaddingunit":"px","showheader":"","showfollow":"","showbutton":"","imageres":"auto"}'
                data-sbi-flags="imageLoadDisable"
              >
                <script
                  src="https://apps.elfsight.com/p/platform.js"
                  defer
                ></script>
                <div
                  class="elfsight-app-7caf7a98-8d45-4761-a42a-8cc8fe43f679"
                ></div>
                <div id="sbi_load"></div>
                <span
                  class="sbi_resized_image_data"
                  data-feed-id="sbi_17841433801500030#6"
                  data-resized='{"17850806156019257":{"id":"94021914_2283076728663208_3731518570729858571_n","ratio":"1.00","sizes":{"full":640,"low":320}},"17855994259932678":{"id":"94128673_590444358493704_5922907974624091152_n","ratio":"1.00","sizes":{"full":640,"low":320}},"17871507067688995":{"id":"94038113_235736957536789_1629488225914553564_n","ratio":"1.00","sizes":{"full":640,"low":320}},"17865218194769466":{"id":"94591433_591364718129447_3697513592084800446_n","ratio":"1.00","sizes":{"full":640,"low":320}},"17872072204679232":{"id":"94138664_2929594490431312_1291054361950593066_n","ratio":"1.00","sizes":{"full":640,"low":320}},"18051758539233422":{"id":"94532353_161905755297545_3680525463029741424_n","ratio":"1.00","sizes":{"full":640,"low":320}}}'
                >
                </span>
              </div>
            </div>
          </div>
          <div id="text-9" class="widget widget_text" data-area="side-area">
            <div class="textwidget">
              <p style="color: #b2b2b2; margin-top: -18px">
                At vero eos et accusamus et iusto odio digniss iducimus blan
                ditiis
              </p>
            </div>
          </div>
          <div
            id="hendon_core_social_icons_group-4"
            class="widget widget_hendon_core_social_icons_group"
            data-area="side-area"
          >
            <div class="qodef-social-icons-group">
              <span
                class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--normal"
              >
                <a
                  itemprop="url"
                  href="https://www.facebook.com/millenniumdevelopers"
                  target="_blank"
                >
                  <svg class="qodef-svg-circle">
                    <circle cx="50%" cy="50%" r="49%"></circle>
                  </svg>
                  <span
                    class="qodef-icon-font-awesome fab fa-facebook-square qodef-icon qodef-e"
                    style=""
                  ></span>
                </a> </span
              ><span
                class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--normal"
              >
                <a
                  itemprop="url"
                  href="https://www.instagram.com/millennium_developers/"
                  target="_blank"
                >
                  <svg class="qodef-svg-circle">
                    <circle cx="50%" cy="50%" r="49%"></circle>
                  </svg>
                  <span
                    class="qodef-icon-font-awesome fab fa-instagram qodef-icon qodef-e"
                    style=""
                  ></span>
                </a> </span
              ><span
                class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--normal"
              >
                <a
                  itemprop="url"
                  href="https://www.youtube.com/channel/UCEtx-yZsdAogsdNvX6tZUEw"
                  target="_blank"
                >
                  <svg class="qodef-svg-circle">
                    <circle cx="50%" cy="50%" r="49%"></circle>
                  </svg>
                  <span
                    class="qodef-icon-font-awesome fab fa-youtube qodef-icon qodef-e"
                    style=""
                  ></span>
                </a> </span
              ><span
                class="qodef-shortcode qodef-m qodef-icon-holder qodef-layout--normal"
              >
                <a
                  itemprop="url"
                  href="https://www.linkedin.com/company/millennium-developers/"
                  target="_blank"
                >
                  <svg class="qodef-svg-circle">
                    <circle cx="50%" cy="50%" r="49%"></circle>
                  </svg>
                  <span
                    class="qodef-icon-font-awesome fab fa-linkedin qodef-icon qodef-e"
                    style=""
                  ></span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400%7CRaleway:500%7CCormorant+Garamond:400"
      rel="stylesheet"
      property="stylesheet"
      media="all"
      type="text/css"
    />
    <script src="../wp-content/cache/minify/1681a.js"></script>
    <script src="../wp-content/cache/minify/6d18f.js"></script>
    <script src="../wp-content/cache/minify/dc06c.js"></script>
    <script src="../wp-content/cache/minify/63a69.js"></script>
    <script src="../wp-content/cache/minify/971bb.js"></script>
    <script src="../wp-content/cache/minify/d2047.js"></script>
    <script src="../wp-content/cache/minify/9f110.js"></script>
    <script src="../wp-content/cache/minify/d0923.js"></script>
  </body>

  <!-- Mirrored from hendon.qodeinteractive.com/feature-bellow/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Dec 2020 10:19:11 GMT -->
</html>
